<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Welcome,</h1>
        <h1 class="text-center text-5xl font-bold"><%= user.userName %>.</h1>
        <p class="py-6">Would you like to share a joke?</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
            <!-- <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <textarea class="form-control" id="caption" name="caption"></textarea>
                </div>
                <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form> -->
            <form action="/joke/createJoke" method="POST">
                <div class="form-control mt-6"">
                    <label class="label">
                    <span class="label-text">Setup</span>
                    </label>
                    <textarea class="textarea textarea-secondary" placeholder="Setup" id="setup" name="setup" required></textarea>
                </div>
                <div class="form-control mt-6"">
                    <label class="label">
                    <span class="label-text">Punchline</span>
                    </label>
                    <textarea class="textarea textarea-primary" placeholder="Punchline" id="punchline" name="punchline" required></textarea>
                </div>
                

                <div class="form-control mt-10">
                    <button class="btn btn-primary">Share :)</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>