<%- include('partials/header') -%>
<div class="card w-96 bg-neutral text-neutral-content">
    <div class="card-body items-center text-center"">
        <h2 class="card-title"><%=joke.setup%></h2>
        <p>
            <%=joke.punchline%>
        </p>
    </div>
</div>
<div class="divider"></div> 
<div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body items-center text-center">
        <div class="card-actions justify-end">
            <a class="btn btn-primary" href="/getJoke">:)</a>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>